#winner {
    text-align: center;
    background: #FFF;
    margin-top: -50%;
    z-index: 5000;
    font-size: xx-large;
    padding: 5px;
    opacity: 0.5;
}

.lead {
    margin-left: 10px;
    margin-right: 10px;
}

#challengers {
    color: #660000;
}
#civilians {
    color: #666600;
}
#defenders {
    color: #000066;
}

#ad1 {
    position: relative;
    float: left;
    left: 2px;
    top: 30px;
    margin: 10px;
    border: 1px solid #EEEEEE;
}

#ad2 {
    position: relative;
    float: right;
    right: 2px;
    top: 30px;
    margin: 10px;
    border: 1px solid #EEEEEE;
}

#statistics {
    width: 100%;
}

#battlebar {
    width: 100%;
    height: 30px;
    /*overflow: hidden;*/
    white-space: nowrap;
}

.battlebar-segment {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 20px;
    border: none;
}

#bb-midpoint {
    display: block;
    margin-left: 50%;
    padding: 0;
    width: 1px;
    height: 10px;
    background: #000000;
}

#bb-at {
    background: #660000;
}
#bb-ci {
    background: #666600;
}
#bb-de {
    background: #000066;
}
#battlechart {
    height: 300px;
    width: 100%;
}
